@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TestProject</h1>
    <p class="lead"> Welcom my test Dentist Booking  ! </p>
    <p>@Html.ActionLink("New Reservation", "Create", "Pacients", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

